# Database
DATABASE_URL=postgresql://your_db_username:your_db_password@localhost:5432/your_db_name
POSTGRESQL_HOST=localhost
POSTGRESQL_PORT=5432
POSTGRESQL_DATABASE=your_db_name
POSTGRESQL_USERNAME=your_db_username
POSTGRESQL_PASSWORD=your_db_password

# SEPTA Portal Credentials
SEPTA_USERNAME=your_septa_username
SEPTA_PASSWORD=your_septa_password

# Unison Marketplace Credentials
UNISON_EMAIL=your_email@example.com
UNISON_PASSWORD=your_password
